

.header{
    display: flex;
flex-wrap: wrap;
    flex: 1;
}

.header_left{
    width: 100%;
    background-image: url(/src/images/main_image.jpg);
    
}

img{
    background-repeat: no-repeat;
}

  .header_right{
      background-color: blueviolet;
  }
  @media only screen and (min-width: 600px) {
    .header_left {
        width:30%;
    }
    .header_right{
        width:70%;
    }
    }





